@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}